@model Apod;

<head>
    
    <script src="~/js/form_validation.js" type="text/javascript"></script>

    <style>
        .submitBtn {
            display: block;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.25rem;
            border-color: purple;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
    </style>

</head>
@{

    ViewData["Title"] = "Astronomy Picture Of The Day";
}

<div class="d-grid gap-1">
    <div class="row border-info">

        <h1>Image Description</h1>
        <p>@Model.Explanation</p><br />
        <p>Date: @Model.Date</p><br />
        <p>Copyright: @Model.Copyright</p><br />

    </div>


    <div class="row">

        <div class="col-sm-5">
            <form>
                <button class="submitBtn" asp-action="DownloadImage">
                    <img src="/Icons/download-circular-button.png" width=30 height=30 />    Download Image
                </button>
                <input id="submit" type="hidden" asp-for="Hdurl">
            </form>
        </div>

        <div class="col-sm-5">
            <form id="pictureDate" asp-action="Index">
                <div class="row">

                    <div class="col-sm-5">
                        <input  id="dateInput" class="form-control" type="date" value="@Model.Date" asp-for="Date">
                    </div>

                    <div class="col-sm-4">
                        <input class="form-control border-primary" type="submit" value="Get Image">
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <img src="@Model.Url">
    </div>

</div>
<script type="text/javascript">


</script>
