@model Neo

<head>
    <script src="~/js/form_validation.js" type="text/javascript"></script>
    <script src="~/js/downloadFiles.js" type="text/javascript"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>


</head>

@{
    ViewData["Title"] = "Home Page";
}

<div class="d-grid gap-1">

    <div class="row">

        <div class="col-md-5 align-self-end">

            <form id="dateForm" name="dateForm" asp-action="Index">

                <div class="row flex-fill">

                    <div class="col-sm-4">
                        <label>Start Date</label><br />
                        <input id="startDatetbl" class="form-control" type="date" name="startDate"
                               value=@Model.DataStart />
                    </div>

                    <div class="col-sm-4">
                        <label>End Date</label><br />
                        <input id="endDatetbl" class="form-control" type="date" name="endDate" value=@Model.DataEnd />
                    </div>

                    <div class="col-sm-3 align-self-end">
                        <input class="form-control" type="submit" value="Get data" />
                    </div>

                </div>

            </form>

        </div>

        <div class="col-sm-4">

            <h1 class="display-4">Welcome</h1>
            <p> Observed objects in range: @Model.ElementsCount</p>

        </div>

        <div class="col-sm-2 align-self-end">

            <form name="tblForm">
                <button class="downloadBtn" id="downloadTable" onclick="exportToExcel()">
                    <image src="/Icons/sheets.png" width=30 height=30> Download Data
                </button>
                <input type="hidden" name="htmlTbl" />
            </form>

        </div>

    </div>

    <div id="tblGrid"  class="row">
        <table id="tbl" class="table table-bordered">
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Velocity(km/s)</th>
                <th>Max Diameter(km)</th>
                <th>Min Diameter(km)</th>
                <th>Orbiting Body</th>
            </tr>

            @foreach (var kvp in Model.NearEarthObjects)
            {
                @foreach (var asteroid in kvp.Value)
                {
                    <tr>
                        <td>@kvp.Key</td>
                        <td>@asteroid.Name</td>
                        <td>@asteroid.ApproachData[0].Velocity["kilometers_per_second"]</td>
                        <td>@asteroid.EstDiameter["kilometers"].max</td>
                        <td>@asteroid.EstDiameter["kilometers"].min</td>
                        <td>@asteroid.ApproachData[0].OrbitingBody</td>
                    </tr>
                }
            }

        </table>
    </div>


</div>

<footer>


    <style>
        .downloadBtn {
            display: block;
            width: 100%;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.25rem;
            border-color: green;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
    </style>
</footer>
